<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--本地IP库路径文件名-->
    <add key="qqwry" value="qqwry.dat"/>
    <add key="PDMFileName" value="BPMSDesign.xml"/>
  </appSettings>
 
  <connectionStrings>
    <add name="BPMSEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=BPMS;persist security info=True;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
